{
  "extends": "airbnb",
  "parserOptions":{
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    }
  },
  "rules": {
    "no-plusplus": 0,
    "no-unused-expressions": 0,
    "react/jsx-filename-extension": 0,
    "react/prop-types": 0
  }
}
